<section class="property-binding">
<!--   <article>
    <h3>Interpolation / Interpolação</h3>
    <P>String renderizada com interpolação: {{ url }}</P>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }}</p>
    <p>
      Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}
    </p>
  </article>

  <article>
      <h3>Property Binding</h3>
      <img src="{{urlImagem}}"> <br> Interpolação
      <img [src]="urlImagem"> Utilizando explicitamente o property binding
      <img bind-src="urlImagem">

  </article -->



  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe:
      <select>
    
    <div class="alert alert-sucess" role="alert">...</div>
    <div class="alert alert-info" role="alert">...</div>
    <div class="alert alert-warning" role="alert">...</div>
    <div class="alert alert-danger" role="alert">...</div>
    <div class="alert alert-sucess" role="alert">...</div>
  </select>
  </div>


    
  </article>
</section>
